title: Warrocraft
email: info@warrocraft.com
description: >-
  Servidor de Minecraft Survival con el modpack New Game 3.
baseurl: "/warrocraft"
url: "https://pablocloud.github.io"

theme: minima
plugins:
  - jekyll-feed

# Exclude from processing.
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - Warrocraft.iml
